.container{
  padding: 10px;
  border-radius: 1em;
  height: 410px;
  width: 300px;
  margin: auto;
  background-color: #191b28;
  box-shadow: rgba(0, 0, 0,0.19) 0px 10px 20px,rgba(0, 0, 0, 0.19);
  margin-top: 6vh;
}
h1{
  text-align: center;
  color: #fff;
}
.inputContainer{
  display: flex;
  justify-content: center;
}
input{
outline: none;
border: none;
font-size: 22px;
width: 200px;
text-align: center;
}
button{
  padding: 0.3rem;
  background-color: #383c53;
  border: 1px solid #fff;
  color: #fff;
  width: 3vw;
  margin-top: 3vh;
  margin-left: 1vw;
  cursor: pointer;
  font-size: 22px;
  border-radius: 6px;
}
.btnContainer{
  margin-left: 2.7vw;
}